@import ./switch
@import ./range-slider
*
    box-sizing: border-box
    margin: 0

body
    background-color: silver
    padding: 0
    height: 100%
    width: 100%

.view
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    border: .3rem solid orange
    border-style: dotted
    background-size: cover
    width: 100%
    height: 100%
    min-height: 100vh
    min-width: 100vw
    text-align: center

    /* feedback */
.feedback
    display: none
    border: .3rem solid black
    padding: 1rem
    margin: 1rem
    background: radial-gradient(circle closest-side, black, red)
    opacity: .3
    &__icon
        font-size: 100%

    &__message
        display: inline1
        color: white
        font-size: 100%

    /* register */
.register
    background-image: url("https://images.unsplash.com/photo-1533013404834-c196f079ca57?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80")
    background-size: cover
    border: .3rem solid black
    padding: .5rem
    &__form
        position: relative
        margin-top: 60%
    &__title
        color: black
        font-size: 100%
        margin: .5rem auto .5rem auto
    &__field
        border-radius: .5rem
        padding: .5rem
        font-size: 1rem
    &__submit
        border-radius: .5rem
        padding: .5rem

    /* login */
.login
    background-image: url("https://images.unsplash.com/photo-1533013404834-c196f079ca57?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80")
    background-size: cover
    border: .3rem solid black
    padding: .5rem
    &__form
        position: relative
        margin-top: 60%
    &__title
        color: black
        font-size: 2rem
        margin: .5rem auto .5rem auto
    &__field
        border-radius: 0.5rem
        padding: .5rem
        font-size: 1rem
    &__submit
        border-radius: .5rem
        padding: .5rem
        
.logout
    border: .3rem solid black
    align-content: flex-end
    color: white
    border-radius: .5rem
    padding: .5rem
    background: black
    position: relative
    margin-top: 3%
    margin-left: 80%

    /* profile scroller */
.profile
    background-image: url("https://images.unsplash.com/photo-1533013404834-c196f079ca57?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80")
    background-size: cover
    border: .3rem solid black
    padding: .5rem
    &__title
        color: black
        font-size: 2rem
        margin: .5rem auto .5rem auto
    &__name
        font-size: 300%
    &__age
        font-size: 200%
    &__geometric
        position: relative
        top: 50%
        opacity: 0.3
    &__image
        width: 100%

.shape
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(5vw, 1fr))
    grid-auto-rows: 5vw
    grid-auto-flow: dense
    &__fragment
        width: 30vw

    /*my profile*/
.my-profile
    background-image: url("https://images.unsplash.com/photo-1533013404834-c196f079ca57?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80")
    background-size: cover
    border: .3rem solid black
    padding: .5rem
    &__header
        display: flex
        flex-direction: row
        justify-content: space-between
    &__title
        color: black
        font-size: 2rem
        margin: .5rem auto .5rem auto
    &__name
        font-size: 300%
    &__age
        font-size: 200%
    &__geometric
        position: relative
        top: 50%
        width: 60%
        height: auto
        opacity: 0.3
    &__edit
        border: .3rem solid black
        border-radius: .5rem
        padding: .5rem
        font-size: 100%
        position: relative
        margin-top: 3%
        margin-left: 20%
        opacity: 1
    &__image
        width: 100%

.edit-icon
    opacity: 1
    background: black

.edit-profile
    background-image: url("https://images.unsplash.com/photo-1533013404834-c196f079ca57?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80")
    background-size: cover
    border: .3rem solid black
    padding: .5rem
    &__title
        color: black
        font-size: 100%
        margin-top: 3%
        margin-left: 50%
    &__name
        font-size: 300%
    &__age
        font-size: 200%
    &__geometric
        position: relative
        top: 50%
        width: 60%
        height: auto
        opacity: 0.3
    &__slidecontainer
        display: flex
        flex-direction: row
        justify-content: space-between
    &__remove
        border: .3rem solid black
        position: relative
        margin-left: 5vw
        background: white
        border-radius: 20%
    &__add-interest
        border: .3rem solid black
        background: white
        border-radius: 20%

.filter-preferences
    background-image: url("https://images.unsplash.com/photo-1533013404834-c196f079ca57?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80")
    background-size: cover
    border: .3rem solid black
    padding: .5rem
    justify-content: space-between
    &__title
        color: black
        font-size: 2rem
        margin: .5rem auto .5rem auto

.selector__gender
    border: .3rem solid black


.buton
    display: grid
    position: relative
    margin-top: 100%
    width: 100%
    grid-template-columns: 33% 33% 33%
    &__directions
        color: white
        background: black
        border: .3rem solid back
        border-radius: .5rem
        padding: .5rem
        width: 100%
        font-size: 100%
        height: 8vh

.hide
    display: none
