.profile
    background-image: url("https://images.unsplash.com/photo-1533013404834-c196f079ca57?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80")
    background-size: cover
    border: .3rem solid black
    padding: .5rem
    &__title
        color: black
        font-size: 2rem
        margin: .5rem auto .5rem auto
    &__name
        font-size: 300%
    &__age
        font-size: 200%
    &__geometric
        position: relative
        top: 50%
        opacity: 0.3
    &__image
        width: 100%
    &__butons
        display: flex
        flex-direction: row
        justify-content: space-around
        width: 100%
    &__aprove
        font-size: 3rem
        color: green
    &__reject
        font-size: 3rem
        color: red