@import "../../../public/variables"
.geometric
    list-style-type: none
    border: .3rem solid black
    background: black
    opacity: 1
    display: grid
    grid-gap: .4rem
    grid-template-columns: repeat( auto-fit, minmax( 20px,1fr) )
    grid-auto-rows: 20px
    grid-auto-flow: dense
    width: 250px
    &__block

    .block
        &--music
            background: $music
        &--sports
            background: $sports
        &--movies
            background: $movies
        &--books
            background: $books
        &--sdnr
            background: $sdnr
        &--nature
            background: $nature
        &--traveling
            background: $traveling
        &--videogames
            background: $videogames
        &--art
            background: $art
        &--gastronomy
            background: $gastronomy
        &--row1
            grid-row: span 1
        &--row2
            grid-row: span 2
        &--row3
            grid-row: span 3
        &--row4
            grid-row: span 4
        &--column2
            grid-column: span 2
        &--column3
            grid-column: span 3
        &--column4
            grid-column: span 4
        &--column16
            grid-area: -6/-6/-1/-1
        &--row16
            grid-area: -6/-6/-1/-1
